<nav class="site-navigation">
	<ul>
		<li>
			<a href="/about" class="site-navigation__item <% if active == 'about' %> active<% end %>">About</a>
		</li>
		<li>
			<a href="/blog" class="site-navigation__item <% if active == 'blog' %> active<% end %>">Blog</a>
		</li>
		<li>
			<a href="/portfolio" class="site-navigation__item <% if active == 'portfolio' %> active<% end %>">Portfolio</a>
		</li>
		<li>
			<a href="/contact" class="site-navigation__item <% if active == 'contact' %> active<% end %>">Contact</a>
		</li>
	</ul>
</nav>