<article class="hero">
	<p class="hero__text">
		Work with the good guys.
	</p>
</article>

<div class="column__wrapper">
	<section>	
		<h2>10Volt grows with you.</h2>
		<p>As I was approaching Dejah Thoris' chariot I passed Sarkoja, and the black, venomous look she accorded me was the sweetest balm I had felt for many hours. Lord, how she hated me! It bristled from her so palpably that one might almost have cut it with a sword.</p>
		<table class="grafici-example grafici-line-graph">
	    <caption>10Volt stock prices at market close, Jul 6-Jul 17 2015</caption>
	    <thead>
	        <tr>
	            <th>Date</th>
	            <th>Price in USD</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Jul 6, 2015</td>
	            <td>522.86</td>
	        </tr>
	        <tr>
	            <td>Jul 7, 2015</td>
	            <td>525.02</td>
	        </tr>
	        <tr>
	            <td>Jul 8, 2015</td>
	            <td>516.83</td>
	        </tr>
	        <tr>
	            <td>Jul 9, 2015</td>
	            <td>520.68</td>
	        </tr>
	        <tr>
	            <td>Jul 10, 2015</td>
	            <td>530.13</td>
	        </tr>
	        <tr>
	            <td>Jul 13, 2015</td>
	            <td>546.55</td>
	        </tr>
	        <tr>
	            <td>Jul 14, 2015</td>
	            <td>561.10</td>
	        </tr>
	        <tr>
	            <td>Jul 15, 2015</td>
	            <td>560.22</td>
	        </tr>
	        <tr>
	            <td>Jul 16, 2015</td>
	            <td>579.85</td>
	        </tr>
	        <tr>
	            <td>Jul 17, 2015</td>
	            <td>672.93</td>
	        </tr>
	    </tbody>
		</table>
		<div class="clients">
			<h2>Our Clients</h2>
			<p>We partner with the best companies around the world to deliver growth and results. Here are some of the organizations we've worked with.</p>
			<div class="col-group clearfix">
				<% (1..9).each do %>
					<div class="col-1-3">
						<img src="<%= Faker::Company.logo %>" alt="">		
					</div>
				<% end %>	
			</div>
			
		</div>
	</section>	
</div>