//Source Code Pro
//Weights: 300, 400, 700
$sans-serif: "franklin-gothic-urw", Helvetica, Arial, sans-serif;

//Bebas Neue
//Weights: 400 NO ITALIC
$heading-font: "alternate-gothic-no-3-d", Impact, sans-serif;

html {
	font-family:$sans-serif;
}
