$about-main-background-top-overlay:rgba(0,0,70,0.3);
$about-main-background-bottom-overlay:rgba(161,66,0,0.6);

.contact main {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-480.jpg');
  @media all and (min-width: 320px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-640.jpg');
  }
  @media all and (min-width: 480px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-800.jpg');
  }
  @media all and (min-width: 640px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-1024.jpg');
  }
  @media all and (min-width: 800px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-1280.jpg');
  }
  @media all and (min-width: 1024px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-1600.jpg');
  }
  @media all and (min-width: 1280px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-1890.jpg');
  }
  @media all and (min-width: 1600px) {
    background-image:linear-gradient(to bottom, $about-main-background-top-overlay, $about-main-background-bottom-overlay), url('/images/city-2400.jpg');
  }
}

.contact .hero {
  position:relative;
  margin-top:6em;
}

.contact .column__wrapper {
  max-width:38em;
  background-color:rgba(255,255,255,0.8);
  padding-top:2em;
  padding-bottom:2em;
}

.contact .col-1-2 {
  @media all and (max-width:800px) {
    float:none;
    width:100%;
    margin:0 0 1em 0;
  }
}

.directory__record {
  margin-bottom:1em;
}

.directory__name,
.directory__title,
.directory__email,
.directory__phone {
  display:block;
  font-size:0.7em;
}

.directory__name {
  font-weight:400;
}

.directory__title {
  font-style:italic;
  color:#666;
}

.directory__email a {
  color:lighten($red, 10%);
}

.directory__avatar {
  overflow:hidden;
  border-radius:50%;
  background-color:white;
  img {
    display:block;
  }
}

.directory-contact__info {
  padding-left:1em;
}
